* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tangerine', cursive;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #008f1d;
    box-shadow: inset 0 0 200px 30px #005f13;
}

section h2 {
    position: relative;
    top: -50px;
    text-align: center;
    font-size: 160px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

section h2::before {
    content: '';
    position: absolute;
    top: -33px;
    left: -100px;
    width: 200px;
    height: 200px;
    background: transparent;
    border-left: 15px solid #fff;
    border-radius: 50%;
    transform: rotate(-30deg);
    box-shadow: -14px 1px 10px rgba(0, 0, 0, 0.1);
}

.mosque {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: url('../images/mosque.png') repeat-x;
    background-size: 1200px;
    z-index: 1;
    pointer-events: none;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 1200px;
    }
}

.mosque::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    width: 100%;
    height: 600px;
    background: url('../images/mosque.png') repeat-x;
    background-size: 1600px;
    z-index: 1;
    pointer-events: none;
    animation: animateReverse 40s linear infinite;
}

@keyframes animateReverse {
    0% {
        background-position: 1600px;
    }

    100% {
        background-position: 0px;
    }
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    section h2 {
        font-size: 100px;
    }

    section h2::before {
        width: 180px;
        height: 180px;
        top: -50px;
        left: -80px;
    }
}

@media (max-width: 768px) {
    section h2 {
        font-size: 80px;
    }

    section h2::before {
        width: 150px;
        height: 150px;
        top: -50px;
        left: -70px;
    }
}

@media (max-width: 576px) {
    section h2 {
        font-size: 60px;
    }

    section h2::before {
        width: 120px;
        height: 120px;
        top: -40px;
        left: -60px;
    }
}
